# Python / Virtual environments
__pycache__/
*.py[codz]
*$py.class
*.so
.venv/
env/
venv/

# PyCharm / IDEs
.idea/
.vscode/

# Build & Distribution
build/
dist/
wheels/
*.egg-info/
*.egg

# Data / Datasets (optional: einkommentieren, falls CSVs nicht auf GitHub sollen)
# Datasets/*.csv

# Temporary / Cache files
.pytest_cache/
.coverage
.ruff_cache/
*.log

# Environment variables
.env

# PyCharm Einstellungen
.idea/

# Datensätze / CSV-Dateien
Datasets/*.csv

